               <div class="osu-layout__section osu-layout__section--full js-content home_getDownload">
                                        <div class="osu-page osu-page--header">
    <div class="osu-page-header-v2 osu-page-header-v2--download">
        <div class="download-page-header">
            <span class="download-page-header__tagline">let's get<br>you started!</span>

            <div class="download-page-header__icon">
                <i class="fas fa-download" aria-hidden="true"></i>
            </div>

            <a class="btn-osu-big btn-osu-big--download-page" href="https://i.awasu.xyz/releases/release.rar">
                <span class="btn-osu-big__text-top">Download awasu!</span>
                <span class="btn-osu-big__text-bottom">for Windows</span>
            </a>

            <p class="download-page-header__text">
                <a class="download-page-header__extra-link" href="https://i.awasu.xyz/releases/switcher.exe">
                    switcher
                </a>
            </p>
        </div>
    </div>
</div>

<div class="osu-page osu-page--download">
    <div class="download-page">
        <div class="download-page__step">
            <div class="download-page__text download-page__text--title">
                <span class="download-page__step-number">1</span>
                download the game
            </div>
            <div class="download-page__text download-page__text--description">
                click the button above to download the installer, then run it!
            </div>
        </div>
        <div class="download-page__step">
            <div class="download-page__text download-page__text--title">
                <span class="download-page__step-number">2</span>
                get an account
            </div>
            <div class="download-page__text download-page__text--description">
                follow the prompts when starting the game to sign in or make a new account
            </div>
        </div>
        <div class="download-page__step">
            <div class="download-page__text download-page__text--title">
                <span class="download-page__step-number">3</span>
                get beatmaps
            </div>
            <div class="download-page__text download-page__text--description">
                <a class="download-page__link" href="https://osu.ppy.sh/beatmapsets" >browse</a> the vast library of user-created beatmaps and start playing!
            </div>
        </div>
        <div class="download-page__accent"></div>
    </div>
</div>

<div class="osu-page osu-page--download">
    <div class="download-page-video">
        <div class="download-page-video__title">
            video guide
        </div>

        <div class="download-page-video__embed">
            <iframe
                src="https://youtube.com/embed/videoseries?list=PLmWVQsxi34bMYwAawZtzuptfMmszUa_tl"
            ></iframe>
        </div>
    </div>
</div>
