<div style="margin-left: 30%; margin-right: 30%" >
    <form method="POST" action="/register" accept-charset="UTF-8" class="
            login-box__section
            login-box__section--login
        ">
        <h2 class="login-box__row login-box__row--title">Register for osu!Awasu</h2>

        <div class="login-box__row login-box__row--inputs" style="color: white;">
            <input class="login-box__form-input" name="username" placeholder="Username">
            <input class="login-box__form-input" name="password" type="password" placeholder="Password">
            <input class="login-box__form-input" name="password" type="password" placeholder="Confirm Password">
            <input class="login-box__form-input" name="email" type="text" placeholder="E-mail">
        </div>

        <div class="login-box__row login-box__row--actions">
            <div class="login-box__action">
                <button class="btn-osu-big btn-osu-big--nav-popup" data-disable-with="Register">
                    <div class="btn-osu-big__content">
                        <span class="btn-osu-big__left" >
                            Register
                        </span>

                        <span class="fas fa-fw fa-sign-in-alt"></span>
                    </div>
                </button>
            </div>
        </div>
    </form>
  </div>
      