<div class="js-user-verification--reference"></div>
                <div class="osu-layout__section osu-layout__section--full js-content community_profile">
                                            <div class="osu-page osu-page--generic">
        <h1>Verifying your account</h1>

        <p>All you need to do is:</p>

        <ul>
            <li>Download either the client or switcher from <a href="https://awasu.xyz/home/download">here</a>
            <li>Then, exctract the client to a new folder in your osu! directory and run it. 
            <h3>OR</h3>
            <li>Open the switcher, install the certificate and connect to the server!
        </ul>
    </div>
    </div>
    